<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="row">
        <div class="col-md-4">
          <h2>Gestion de Cursos</h2>
          <div class="card">
            <div class="card-body">
              <form action="/edicion/" method="POST">{%csrf_token %}
                <div class="form-group">
                  <input type="text" name="txtnom" class="form-control"  value="{{curso.nombre}}">
                </div>
                <p></p>
                <div class="form-group">
                  <input type="number" name="numcreditos" class="form-control" min="1" max="10" value="{{curso.creditos}}">
                </div>
                <p></p>
                <div class="form-group">
                  <input type="submit" class="btn btn-success btn-block text-white" value="Guardar">
                </div>



              </form>
            </div>
          </div>

    
</body>
</html>